*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#faf7ff;
}

.navbar{
display:flex;
justify-content:space-between;
padding:25px 80px;
background:white;
}

.logo{
font-size:28px;
font-weight:bold;
color:#7c3aed;
}

.hero{
height:80vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#ede9fe,#fce7f3,#dbeafe);
text-align:center;
}

.hero h1{
font-size:72px;
color:#4c1d95;
}

.categories{
display:grid;
grid-template-columns:repeat(6,1fr);
gap:20px;
padding:60px;
}

.cat{
padding:30px;
border-radius:25px;
color:white;
text-align:center;
font-weight:bold;
}

.travel{background:#8b5cf6;}
.cooking{background:#f97316;}
.art{background:#ec4899;}
.tech{background:#3b82f6;}
.fashion{background:#d946ef;}
.thoughts{background:#14b8a6;}

.stories{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:25px;
padding:80px;
}

.card{
background:white;
border-radius:25px;
overflow:hidden;
box-shadow:0 15px 35px rgba(0,0,0,0.08);
padding:20px;
}

.card img{
width:100%;
height:220px;
object-fit:cover;
border-radius:20px;
}

.create-box{
max-width:700px;
margin:60px auto;
padding:40px;
background:white;
border-radius:25px;
}

input,textarea,select{
width:100%;
padding:16px;
margin:15px 0;
border:none;
background:#f5f3ff;
border-radius:15px;
}

button{
padding:15px 30px;
background:#8b5cf6;
color:white;
border:none;
border-radius:20px;
}

footer{
text-align:center;
padding:30px;
}

@media(max-width:768px){
.stories{
grid-template-columns:1fr;
}
.categories{
grid-template-columns:1fr 1fr;
}
.hero h1{
font-size:42px;
}
}